
        <% @points.each do |point| %>
          <% if @select_area  === point.area_group %>
            <tr>
              <td><%= point.show_no %></td>
              <td><span class="shop_label" id="shop_id_<%=(point.show_no).to_i %>"><%= point.name %></span></td>
              <td>
                  <p class="mb-0"><%= point.desc %></p>
                  <i class="fas fa-phone-square" style="color:lime;"></i><span><%= point.TEL %></span>
              </td>
              <td><%= image_tag @icon_hash[point.shop_type], :size =>'24x24',:name => [point.shop_type], :longdesc => [point.shop_type] %></td>
            </tr>
          <% end %>
        <% end %>
