<% set_meta_tags title: '施設一覧', description: '施設一覧' %>
<%= stylesheet_link_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>

<body class="qr vl-bodyBg login-user">

  <header class="vl-appTop-header" style="margin-bottom:5px">
  </header>

  <div class="container mt-3 pl-2">
    <div class="vl-userName row mt-4 mb-4"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div> 
    <div class="vl-contentsWrap row">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">施設一覧</h1>
        </div>
        <!--<p style="font-size:8px; color:gray; margin-bottom:0rem;">*マップ下のタブをクリックしてエリアを選択してください</p> -->
          <ul class="nav nav-tabs vl-tabWrap justify-content-center nav-pills" role="tablist">
            <li class="nav-item sekisei">
              <a class="nav-link" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="false">エリア1</a>
            </li>
            <li class="nav-item sekiou">
              <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">エリア2</a>
            </li>
            <li class="nav-item sekitou">
              <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">エリア3</a>
            </li>
          </ul><!-- / .nav-tabs -->
        <div class="vl-cardWrap" style="padding: 5px 10px 40px;">
          <div id="resize_area" class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main" style="padding-right:5px; padding-left:5px;">
              <div id="map" class="gmap"></div>
            </div>
          </div>
          <div class="row mt-2 mr-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 justify-content-end" style="font-size:14px;">
              <span>休日・営業時間等は</span>
              <%= link_to "施設詳細ページへ", @link_path[@select_area],class:"vl-link" %>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6  justify-content-top vl-shopSelect">
              <span style="font-size:14px;">施設タイプ絞り込み:</span>
              <%= select_tag "select_shop", options_for_select(@icon_hash.map{ |key,value| key =="セルフ" ? "全て": key }),{style:"height:2.0em; font-size:8px;"} %>
            </div>
          </div>
          <div class="row mt-2 pr-2 pl-2">
            <div class="table-responsive vl-spotList" >
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>施設名</th>
                    <th>住所</th>
                    <th>分類</th>
                  </tr>
                </thead>
                <tbody id="change">
                  <%= render( partial: 'shop_table', locals: {points: @points, select_are:@select_area}) %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <div class="vl-currentPosition">
      <button type="button" class="btn text-center rounded-circle text-white" id="getPosbtn01" name="getPosbtn01">現在<br>位置</button>
  </div>
  <%= render('shared/menu') %>
</body>
<%= javascript_pack_tag 'map' %> 
