<% set_meta_tags title: '施設一覧', description: '施設一覧' %>
<%= stylesheet_link_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>

<body class="qr vl-bodyBg login-user">

  <header class="vl-appTop-header" style="margin-bottom:5px">
   <div class="vl-appTitle d-flex justify-content-center container">
      <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
   </div>
  </header>

  <div class="container mt-3 pl-2">
    <div class="vl-userName"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div> 
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">施設一覧</h1>
        </div>

        <div class="vl-cardWrap" style="padding: 10px 10px 40px;">
          <div id="resize_area" class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main" style="padding-right:5px; padding-left:5px;">
              <div id="map" class="gmap"></div>
            </div>
          </div>
          <ul class="nav nav-tabs vl-tabWrap justify-content-center nav-pills" role="tablist">
            <li class="nav-item sekisei">
              <a class="nav-link" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="false">石西エリア</a>
            </li>
            <li class="nav-item sekiou">
              <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">石央エリア</a>
            </li>
            <li class="nav-item sekitou">
              <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">石東エリア</a>
            </li>
          </ul><!-- / .nav-tabs -->

          <div class="row mt-4 pr-2 pl-2">
            <div class="table-responsive vl-spotList" >
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>施設名</th>
                    <th>住所</th>
                    <th>分類</th>
                  </tr>
                </thead>
                <tbody id="change">
                  <%= render( partial: 'shop_table', locals: {points: @points, select_are:@select_area}) %>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <div class="vl-currentPosition">
      <button type="button" class="btn text-center rounded-circle text-white" id="getPosbtn01" name="getPosbtn01">現在<br>位置</button>
  </div>
  <%= render('shared/menu') %>
</body>
<%= javascript_pack_tag 'map' %> 
