<% set_meta_tags title: 'スタンプ取得状況', description: 'スタンプ取得状況' %>
<%= stylesheet_link_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>

<body class="qr vl-bodyBg login-user">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="vl-appTop-header py-3">
   <div class="vl-appTitle d-flex justify-content-center container">
    <p>いわみくるり<span>石見周遊スタンプラリー</span></p>
   </div>
  </header>

<div class="container">
  <div class="vl-userName"><i class="fas fa-smile"></i> <%= current_user.username %></div>
  <div class="row mt-1">
    <div class="col-8 input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">エリア選択</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01">
        <option selected>Choose...</option>
        <% @area_pos.each do |key,value| %>
          <option value=<%= key %>><%= key %></option>
        <% end -%>
      </select>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" id="getPosbtn01" name="getPosbtn01">現在位置</button>
    </div>
  </div>

  <div id="resize_area" class="row mt-4" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">
      <div id="map" class="gmap"></div>
    </div>
  </div>
  <div class="row mt-4">
    <h2 class="font-weight-bold">施設一覧</h2>
    <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>Shop_type</th>
          <th>Lon</th>
          <th>Lat</th>
        </tr>
      </thead>

      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= point.name %></td>
            <td><%= point.desc %></td>
            <td><%= point.shop_type %></td>
            <td><%= point.lon %></td>
            <td><%= point.lat %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <br>
</div>
  <%= render('shared/menu') %>
</body>
<%= javascript_pack_tag 'map' %> 
