<%= stylesheet_link_tag 'map', media: 'all', 'data-turbolinks-track': 'reload' %>
<div><%= puts debug %></div>

<h1>Points</h1>
<div class="container-fluid">
  <div id="resize_area" class="row" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">
      <div id="map" class="gmap"></div>
    </div>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Lon</th>
      <th>Lat</th>
      <th>Path</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.name %></td>
        <td><%= point.desc %></td>
        <td><%= point.lon %></td>
        <td><%= point.lat %></td>
        <td><%= point.path %></td>
        <td><%= point.deleted_at %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Point', new_point_path %>
<%= javascript_pack_tag 'map' %> 