<body class="entry vl-bodyBg">
  <header class="vl-appTop-header py-3">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color"><%=  t('.title', resource: resource_name.to_s.humanize) %></h1>
        </div>
        <div class="vl-cardWrap">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="vr-formWrap">
              <%= bootstrap_devise_error_messages! %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
                <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
              </div>

              <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
                <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
              </div>

              <div class="form-group">
                <%= f.submit t('.update'), class: 'btn btn-main-color btn-lg btn-block' %>
              </div>
            </div><!-- / .vr-formWrap -->
          <% end %>
          <%= link_to '戻る', :back %>
          <p><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <footer class="vl-footer py-3 text-center">
    <small><a href="https://www.all-iwami.com/contents/stamprally/">©いわみくるり</a></small>
  </footer>
</body>