<body class="entry vl-bodyBg">
  <header class="vl-appTop-header py-3">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p>いわみくるり<span>石見周遊スタンプラリー</span></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color"><%= t('.sign_up') %></h1>
        </div>
        <div class="vl-cardWrap">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="vr-formWrap">
              <%= bootstrap_devise_error_messages! %>

              <dl class="form-group form-row">
                <dt class="col-sm-3">
                 <%= f.label :email ,class: 'vl-label required' %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                     <%= f.email_field :email, 
                          autofocus: true, 
                          autocomplete: 'email', 
                          type:"email" ,
                          id:"entry_email_first", 
                          name:"entry[email][first]", 
                          class:'form-control', 
                          required:"required", 
                          placeholder:"例：iwami@example.com" %>
                  </div>
               </dd>
              </dl>

              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <%= f.label :password, class:"vl-label required" %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                    <%= f.password_field :password, 
                        autocomplete: 'current-password', 
                        type:"password" ,
                        id:"entry_password_first",
                        class: 'form-control' ,
                        name:"entry[password][first]" , 
                        required:"required", 
                        placeholder:"半角英数記号6 〜32文字"%>
                    <% if @minimum_password_length %>
                     <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
                    <% end %>
                  </div>
                  <div class="vl-input">
                    <%= f.password_field :password_confirmation, 
                        autocomplete: 'current-password', 
                        type:"password" ,
                        id:"entry_password_second", 
                        class: 'form-control',
                        name: "entry[password][second]", 
                        required:"required" ,
                        placeholder:"確認のためもう一度入力してください" %>
                  </div>
                </dd>
               </dl>

              <div class="form-group">
                <%= f.submit t('.sign_up'), class: 'btn btn-main-color btn-lg btn-block' %>
              </div>
            </div><!-- / .vr-formWrap -->
          <% end %>
          <%= render 'devise/shared/links' %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <footer class="vl-footer py-3 text-center">
    <small><a href="">©いわみくるり</a></small>
  </footer>
</body>