
<body class="login vl-bodyBg">
  <header class="vl-appTop-header">
    <div class="vl-appTitle d-flex justify-content-center container">
      <h1 class="text-white txt-sh">いわみくるり<span>石見周遊スタンプラリー</span></h1>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap container">
      <div class="vl-enterBlock rounded m-auto bg-white card shadow">
        <div class="card-header">
          <h1 class="text-main-color"><%=  t('.resend_unlock_instructions') %></h1>
        </div>
        <div class="vl-cardWrap">
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= bootstrap_devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary'%>
            </div>
          <% end %>
        </div><!-- / .vr-formWrap -->
        <%= render 'devise/shared/links' %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <footer class="vl-footer py-3 text-center">
    <small><a href="">©いわみくるり</a></small>
  </footer>
</body>