<% set_meta_tags title: '地点一覧', description: '地点一覧' %>
<body class="stamp-list vl-bodyBg login-user">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="vl-appTop-header py-3">
   <div class="vl-appTitle d-flex justify-content-center container">
    <p>いわみくるり<span>石見周遊スタンプラリー</span></p>
   </div>
  </header>

  <div class="container">
    <div class="vl-userName"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div>
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">スタンプ取得状況</h1>
        </div>   
        <div class="vl-cardWrap">
          <div class="vl-stamp-listWrap">
           <ul class="row">
            <li class="col-4 border rounded vl-rectWrap">
             <div class="vl-rect">石西<br>エリア</div>
            </li>
            <li class="col-4 border rounded vl-rectWrap">
             <div class="vl-rect">石央<br>エリア</div>
            </li>
            <li class="col-4 border rounded vl-rectWrap">
             <div class="vl-rect">石東<br>エリア</div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石西エリア"][0]['id'] %></span>
                <% else %>
                   <h1>1</h1>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石央エリア"][0]['id'] %></span>
                <% else %>
                   <h1>1</h1>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石東エリア"][0]['id'] %></span>
                <% else %>
                   <h1>1</h1>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石西エリア"][1]['id'] %></span>
                <% else %>
                   <h1>2</h1>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石央エリア"][1]['id'] %></span>
                <% else %>
                   <h1>2</h1>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石東エリア"][1]['id'] %></span>
                <% else %>
                   <h1>2</h1>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石西エリア"][2]['id'] %></span>
                <% else %>
                   <h1>3</h1>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石央エリア"][2]['id'] %></span>
                <% else %>
                   <h1>3</h1>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stmp.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= putc @bingo["石東エリア"][2]['id'] %></span>
                <% else %>
                   <h1>3</h1>
                <% end %>
              </div>
            </li>
          </div><!-- / .vl-stamp-listWrap -->

            <div class="row mt-1">
              <div class="vl-apply text-center col-6">
              <% if @bingo_cnt == 0 || current_user.apply_flg == TRUE %>
                <a href="" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">抽選に参加</a>
              <% else %>
                <%= link_to '抽選に参加', stamps_servey_path(bingo_cnt: @bingo_cnt, sp_cnt: @sp_cnt), 
                    { :data =>{"role" => "button","turbolinks" => "false"}, 
                      :class => "btn btn-main-color btn-lg"} %>
              <% end %>
              </div>
              <div class="vl-apply text-center col-6">
                <%= link_to 'QR読み取り', stamps_new_path,{:data =>{"role" => "button","turbolinks" => "false"}, :class => "btn btn-outline-info btn-lg "} %>
              </div>
            </div>

            <div id="stampPopupBg" class="vl-stampPopupBg" hidden></div>
            <div id="getPopuoImg" class="vl-getPopuoImg alert alert-dismissible fade show shadow" role="alert" hidden>
              <%= image_tag "image_stamps/1088425.png",alt:"スタンプを取得しました" %>
              <button id="getStampBtn" type="button" class="close vl-closeOnImg" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <%= render('shared/menu') %>
</body>

<script>
///////////////////////////////////window on load////////////////////////////////////////////
  var stampPopupBg = document.getElementById("stampPopupBg");
  var getPopuoImg = document.getElementById("getPopuoImg");

  window.onload = function(){
    var parm =  location.search.split('=');
    if( parm[1] == "true" ){
      stampPopupBg.hidden = false;
      getPopuoImg.hidden = false;
    }
  }

///////////////////////////////////get stamp////////////////////////////////////////////
//スタンプを取得すると他のボタンを押せなくなるため必要
document.querySelector("#getStampBtn").addEventListener("click", () => {
    stampPopupBg.hidden = true;
    getPopuoImg.hidden = true;
});

</script>
