<style>
table th,table td{
  border-radius: 30px;
  text-align: center;
  padding: 10px 0;
}
table td{
  opacity: 0.85;
}
</style>

<div class="container">
  <div class="row">
    <h1 class="font-weight-bold">スタンプカード</h1>
  </div>
  <div class="clearfix">
    <%= link_to 'QR読み取り', new_stamp_path,{:data =>{"role" => "button","turbolinks" => "false"}, :class => "btn btn-outline-info btn-lg float-xl-right"} %>
  </div>
  <div class="row mt-4 mb-4 border rounded-lg pr-5 pl-5">
    <table class="table table-hover table-borderless">
      <thead>
        <tr align="center">
          <th scope="col">石西エリア<br><p>(益田・津和野・吉賀)</p>山口県</th>
          <th scope="col">石中エリア<br><p>(浜田・江津・邑南)</p>広島県</th>
          <th scope="col">石東エリア<br><p>(大田・川本・美郷)</p>県東部</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="table-success" align="center">
              <% if @bingo["石西エリア"][0].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石西エリア"][0] %></p>
              <% else %>
                 <h1>1</h1>
              <% end %>
            </td>
            <td class="table-info" align="center">
              <% if @bingo["石央エリア"][0].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石央エリア"][0] %></p>
              <% else %>
                 <h1>1</h1>
              <% end %>
            </td>
            <td class="table-warning" align="center">
              <% if @bingo["石東エリア"][0].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石東エリア"][0] %></p>
              <% else %>
                 <h1>1</h1>
              <% end %>
            </td>
          </tr>
            <td class="table-success" align="center">
              <% if @bingo["石西エリア"][1].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石西エリア"][1] %></p>
              <% else %>
                 <h1>2</h1>
              <% end %>
            </td>
            <td class="table-info" align="center">
              <% if @bingo["石央エリア"][1].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石央エリア"][1] %></p>
              <% else %>
                 <h1>2</h1>
              <% end %>
            </td>
            <td class="table-warning" align="center">
              <% if @bingo["石東エリア"][1].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石東エリア"][1] %></p>
              <% else %>
                 <h1>2</h1>
              <% end %>
            </td>
          <tr>
            <td class="table-success" align="center">
              <% if @bingo["石西エリア"][2].present? %>
              <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石西エリア"][2] %></p>
              <% else %>
                 <h1>3</h1>
              <% end %>
            </td>
            <td class="table-info" align="center">
              <% if @bingo["石央エリア"][2].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石央エリア"][2] %></p>
              <% else %>
                 <h1>3</h1>
              <% end %>
            </td>
            <td class="table-warning" align="center">
              <% if @bingo["石東エリア"][2].present? %>
                <%= image_tag "static/stamp.png" %>
    					  <p><%= putc @bingo["石東エリア"][2] %></p>
              <% else %>
                 <h1>3</h1>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>

<script>
// console.log(gon.stamps)
console.log(gon.bingo)
alert("tate_bingo = " + gon.bingo_cnt);
</script>