<% set_meta_tags title: 'スタンプ取得状況', description: 'スタンプ取得状況' %>
<body class="stamp-list vl-bodyBg login-user">
  <header class="vl-appTop-header">
    <div class="vl-appTitle d-flex justify-content-center container">
    </div>
  </header>

  <div class="container">
    <div class="vl-userName row mt-4 mb-4"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div>
    <div class="vl-contentsWrap row">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">スタンプ取得状況</h1>
        </div>   
        <div class="vl-cardWrap">
          <div class="vl-stamp-listWrap">
           <ul class="row" style="padding:0 1em 0.5em;">
            <li class="col-4 border rounded vl-rectWrap area sekisei">西</li>
            <li class="col-4 border rounded vl-rectWrap area sekiou">中央</li>
            <li class="col-4 border rounded vl-rectWrap area sekitou">東</li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア1"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア1"][0]['name'] %>">
                    <%= @bingo["エリア1"][0]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア2"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア2"][0]['name'] %>">
                    <%= @bingo["エリア2"][0]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア3"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア3"][0]['name'] %>">
                    <%= @bingo["エリア3"][0]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア1"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア1"][1]['name'] %>">
                    <%= @bingo["エリア1"][1]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア2"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア2"][1]['name'] %>">
                    <%= @bingo["エリア2"][1]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア3"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア3"][1]['name'] %>">
                    <%= @bingo["エリア3"][1]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア1"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                       data-toggle="tooltip" title="<%= @bingo["エリア1"][2]['name'] %>">
                    <%= @bingo["エリア1"][2]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア2"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア2"][2]['name'] %>">
                    <%= @bingo["エリア2"][2]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["エリア3"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["エリア3"][2]['name'] %>">
                    <%= @bingo["エリア3"][2]['id'] %>
                    </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/yokudekimashita-02.png" %></span>
                <% end %>
              </div>
            </li>
          </div><!-- / .vl-stamp-listWrap -->
          <% if current_user.apply_flg == TRUE %>
            <h4 class="text-center">抽選の応募は既に終了しています</h4>
          <% else %>
            <p class="text-center mb-0"><span class="bingoAchievement"><%= @bingo_cnt %></span>ビンゴ達成</p>
            <% if @bingo_cnt.to_i >= 6 %>
                <p class="text-center allIwami"><span>1ビンゴ賞</span>応募可能</span></p>
            <% end %>
            <% if @bingo_cnt.to_i >= 2..5 %>
                <p class="text-center iwamiTwo"><span>2ビンゴ賞</span>応募可能</p>
            <% end %>
            <% if @bingo_cnt.to_i >= 1 %>
                <p class="text-center onesAgain"><span>ALL賞</span>応募可能</p>
            <% end %>
          <% end %>
          <div class="row mt-1">
            <div class="vl-apply text-center col-6">
            <% if @bingo_cnt == 0 || current_user.apply_flg == TRUE %>
              <a href="" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">抽選応募</a>
            <% else %>
              <%= link_to '抽選応募', stamps_servey_path, 
                  { :data =>{"role" => "button","turbolinks" => "false"}, 
                    :class => "btn btn-main-color btn-lg"} %>
            <% end %>
            </div>
            <div class="vl-apply text-center col-6">
              <%= link_to 'QR読取り', stamps_new_path,{:data =>{"role" => "button","turbolinks" => "false"}, :class => "btn btn-baseBg-color btn-lg "} %>
            </div>
          </div>
          <div class="vl-stamp">
            <div id="stampPopupBg" class="vl-stampPopupBg" hidden></div>
            <div id="getPopuoImg1" class="vl-getPopuoImg alert alert-dismissible fade show shadow" role="alert" hidden>
              <%= image_tag "image_stamps/pop_stamp_get.jpg",alt:"スタンプを取得しました" %>
              <button id="getStampBtn1" type="button" class="close vl-closeOnImg" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="getPopuoImg2" class="vl-getPopuoImg alert alert-dismissible fade show shadow" role="alert" hidden>
              <%= image_tag "image_stamps/pop_stamp_bingo.jpg",alt:"ビンゴを取得しました" %>
              <button id="getStampBtn2" type="button" class="close vl-closeOnImg" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <%= render('shared/menu') %>
</body>
  <%= javascript_pack_tag 'stamp' %> 
