<% set_meta_tags title: 'スタンプ取得状況', description: 'スタンプ取得状況' %>
<body class="stamp-list vl-bodyBg login-user">
  <header class="vl-appTop-header">
   <div class="vl-appTitle d-flex justify-content-center container">
    <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
   </div>
  </header>

  <div class="container">
    <div class="vl-userName"><i class="fas fa-smile"></i> <%= current_user.username %>さん</div>
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">スタンプ取得状況</h1>
        </div>   
        <div class="vl-cardWrap">
          <div class="vl-stamp-listWrap">
           <ul class="row">
            <li class="col-4 border rounded vl-rectWrap area sekisei">石西/<br>山口</li>
            <li class="col-4 border rounded vl-rectWrap area sekiou">石央/<br>広島</li>
            <li class="col-4 border rounded vl-rectWrap area sekitou">石東/<br>県東部</li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["石西エリア"][0]['name'] %>">
                        <%= @bingo["石西エリア"][0]['id'] %>
                  </span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["石央エリア"][0]['name'] %>">
                  ><%= @bingo["石央エリア"][0]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][0].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"
                        data-toggle="tooltip" title="<%= @bingo["石東エリア"][0]['name'] %>"
                  ><%= @bingo["石東エリア"][0]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石西エリア"][1]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石央エリア"][1]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>
            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][1].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石東エリア"][1]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石西エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石西エリア"][2]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石央エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石央エリア"][2]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>

            <li class="col-4 border rounded vl-rectWrap stamp">
              <div class="vl-rect">
                <% if @bingo["石東エリア"][2].present? %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_01.png" %></span>
                  <span class="vl-stmpNo badge badge-pill alert-info"><%= @bingo["石東エリア"][2]['id'] %></span>
                <% else %>
                  <span class="vl-stmpImg"><%= image_tag "image_stamps/stamp_02.png" %></span>
                <% end %>
              </div>
            </li>
          </div><!-- / .vl-stamp-listWrap -->
          <h3>現在のビンゴ数は<%= @bingo_cnt %></h3>
            <div class="row mt-1">
              <div class="vl-apply text-center col-6">
              <% if @bingo_cnt == 0 || current_user.apply_flg == TRUE %>
                <a href="" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">抽選に参加</a>
              <% else %>
                <%= link_to '抽選に参加', stamps_servey_path(bingo_cnt: @bingo_cnt, sp_cnt: @sp_cnt), 
                    { :data =>{"role" => "button","turbolinks" => "false"}, 
                      :class => "btn btn-main-color btn-lg"} %>
              <% end %>
              </div>
              <div class="vl-apply text-center col-6">
                <%= link_to 'QR読み取り', stamps_new_path,{:data =>{"role" => "button","turbolinks" => "false"}, :class => "btn btn-outline-info btn-lg "} %>
              </div>
            </div>

            <div id="stampPopupBg" class="vl-stampPopupBg" hidden></div>
            <div id="getPopuoImg" class="vl-getPopuoImg alert alert-dismissible fade show shadow" role="alert" hidden>
              <%= image_tag "image_stamps/pop_stamp_get.jpg",alt:"スタンプを取得しました" %>
              <button id="getStampBtn" type="button" class="close vl-closeOnImg" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
  <%= render('shared/menu') %>
</body>
  <%= javascript_pack_tag 'stamp' %> 
