<body class="entry vl-bodyBg">
  <header class="vl-appTop-header py-3">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">応募フォーム</h1>
        </div>
        <div class="vl-cardWrap">
          <p>おめでとうございます、賞品を申し込むことができます。<br>賞品の詳細は<a href="https://www.all-iwami.com/contents/stamprally/syouhin/" target="_blank">こちら</a></p>
          <p>なお、賞品の応募は1回限りになります。一度応募しますとスタンプラリー終了になります。</p>
          <%= form_with url:stamps_servey_path, local: true  do |f| %>
            <div class="vr-formWrap">
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                 <%= f.label :email ,class: 'vl-label required' %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                     <%= f.email_field :email, autofocus: true, autocomplete: 'email',class:'form-control', required:"required", value:current_user.email, readonly:"readonly" %>
                  </div>
               </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <%= f.label '連絡先', class:"vl-label required" %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                    <%= f.text_field :TEL_number, class: 'form-control', required:"required", placeholder:"例：090-1234-4321" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-row">
                <dt class="col-sm-3">
                  <label class="vl-label required col-form-label">お届け先</label><span class="vl-required">必須</span>
                </dt>
                <dd class="vl-address col-sm-9">
                  <div class="vl-zipInput form-row">
                    <div class="vl-zipWrap d-flex mb-2">
                      <span>〒</span>
　                    <input type="text" id="txtZipCode" name="zipcode" placeholder="例：6970041">
                    </div>
                    <div class="vl-zipInput col-sm-4 mb-3 mb-sm-0">
                      <a href="" target="_blank" onclick="return false;" name="full_address" id="get_address" ><span>郵便番号から住所を入力 <i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                  </div>
                  <div class="vl-input">
　                  <%= f.text_field :address, class:"form-control", required:"required", placeholder:"例：島根県浜田市片庭町254", id:"address"%>
                  </div>
                </dd>
              </dl>

<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label col-form-label" for="entry_user_name">宛名</label><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-halfInput">
                    <%= f.text_field :full_name, class: "form-control" , required:"required", placeholder:"例：石見　太郎" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label">応募賞品</label><span class="vl-required">必須</span>
                </dt>
                <dd class="form-row col-sm-9">
                  <div class="vl-radio">
                    <div id="entry_sex">
                      <div class="vl-select">
                        <%= f.select :gift, @gift, {include_blank: true}, {class: "form-control", required:"required"} %>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form-group form-row">
                <dt class="col-sm-5">
                  <label class="vl-label" for="entry_job">どこでいわみくるりを知りましたか？</label>
                </dt>
                <dd class="form-group form-row col-sm-4">
                  <div class="vl-select">
                    <%= f.select :question1, @question,{include_blank: true}, {class: "form-control"} %>
                  </div>
                </dd>
              </dl>

              <dl class="form-group form-row">
                <dt class="col-sm-12">
                  <label class="vl-label" for="entry_user_name">「いわみくるり」についてのご意見や改善点などございましたらご記入ください。</label>
                </dt>
                <dd class="form-group form-row col-sm-12">
                    <%= f.text_area :question2, class: "form-control ",style:"width:100%; height: 200px;" ,wrap:"soft" %>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <h5 class="mt-3" style="text-align:center;">個人情報の取り扱いについて</h5>
              <div class="mb-3" style="overflow:scroll; height:150px; overflow-x:hidden; " >
                <p>
                  個人情報の取り扱い（プライバシーポリシー）について<br>
                  1.個人情報とは<br>
                  「個人情報」とは、スマートフォンから本スタンプラリーサイトを通じて提供いただいた住所、氏名、電話番号、Eメールアドレスなど、特定の個人が識別できる情報をいいます。<br>
                  <br>2.個人情報の収集について
                  本スタンプラリーサイトを通じて個人情報を提供いただく際は、利用者の意思による情報提供を原則とします。個人情報の収集にあたっては、収集目的及び利用範囲を明確にします。<br>
                  <br>3.個人情報の利用及び提供について<br>
                  個人情報を利用者本人の同意なく、明示した収集目的及び利用範囲を超えて利用することはありません。応募時に入力頂いた個人情報はスタンプラリーの応募賞品発送にのみ利用します。ただし、本人の承諾を得た場合や法    令  等により開示を求められた場合は、必要最低限の情報を開示させていただくことがあります。<br>
                  <br>4.個人情報の管理について<br>
                  収集した個人情報は、正規の権限を持つもののみが閲覧できるようにし、個人情報の漏えい、滅失、改ざん及びき損等しないように厳重に管理します。なお、サービス充実のため、業務委託先に本サイトの管理・運営を委託    す  ることがあります。利用者の個人情報の流出や不正アクセスなどが起こらないよう、業務委託先にも適切な管理を徹底させます。<br>
                  <br>5.個人情報の開示請求及び自己情報の訂正、削除及び中止に係る請求について
                  ご本人自らに関する個人情報の開示、訂正、変更、利用停止などお客様からの申し入れがあった際には、法令に定められた場合を除き、直ちに適切な対応を行なうことに努めます。<br>
                  <br>
                  ■個人情報保護に関するお問合せ先<br>
                  石見観光振興協議会（事務局：島根県西部県民センター商工観光部観光振興課）<br>
                  〒697-0041　島根県浜田市片庭町254<br>
                  電話：0855-29-5647（平日8時30分～17時15分／土・日・祝日休）<br>
                </p>
              </div>

              <p style="text-align:center;">
                <div class="vl-checkbox form-check text-center">
                  <input type="checkbox" class="form-check-input" id="check" name="個人情報の取り扱い" value="同意する" required="required">
                  <label class="form-check-label">個人情報の取り扱いに同意する</label>
                </div>
              </p>

              <div class="vl-registerRole-actions">
                <div class="form-group">
                  <%= f.submit '送信', class: 'btn btn-main-color btn-lg btn-block' %>
                </div>
              </div>
            </div><!-- / .vr-formWrap -->
          <% end %>

        <%= render('shared/menu') %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
</body>
  <%= javascript_pack_tag 'user' %> 