<body class="entry vl-bodyBg">
  <header class="vl-appTop-header py-3">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p>いわみくるり<span>石見周遊スタンプラリー</span></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">応募フォーム</h1>
        </div>
        <div class="vl-cardWrap">
          <%= form_with url:stamps_servey_path  do |f| %>
          <%= f.hidden_field :bingo_cnt, :value => params["bigo_cnt"] %>
          <%= f.hidden_field :sp_cnt, :value => params["sp_cnt"] %>
            <div class="vr-formWrap">
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                 <%= f.label :email ,class: 'vl-label required' %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                     <%= f.email_field :email, autofocus: true, autocomplete: 'email',class:'form-control', required:"required", value:current_user.email %>
                  </div>
               </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <%= f.label '連絡先', class:"vl-label required" %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                    <%= f.text_field :TEL_number, class: 'form-control', required:"required", placeholder:"090-1234-4321" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-row">
                <dt class="col-sm-3">
                  <label class="vl-label required col-form-label">お届け先</label><span class="vl-required">必須</span>
                </dt>
                <dd class="vl-address col-sm-9">
                  <div class="vl-zipInput form-row">
                    <div class="vl-zipWrap d-flex mb-2">
                      <span>〒</span>
　                    <input type="text" id="txtZipCode" name="zipcode" placeholder="例：6970041">
                    </div>
                    <div class="vl-zipInput col-sm-4 mb-3 mb-sm-0">
                      <a href="" target="_blank" onclick="return false;" id="get_address" ><span>郵便番号検索 <i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                  </div>
                  <div class="vl-input">
　                  <%= f.text_field :address, class:"form-control", required:"required", placeholder:"都道府県・市町村(例：島根県浜田市)", id:"address"%>
                  </div>
                </dd>
              </dl>

<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label col-form-label" for="entry_user_name">宛名</label><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-halfInput">
                    <%= f.text_field :name, class: "form-control" , required:"required", placeholder:"石見　太郎" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label">応募商品</label><span class="vl-required">必須</span>
                </dt>
                <dd class="form-row col-sm-4">
                  <div class="vl-radio">
                    <div id="entry_sex">
                      <div class="vl-select">
                        <%= f.select :gift, {'景品１': '景品１', '景品２': '景品１'}, {include_blank: true}, {class: "form-control", required:"required"} %>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form-group form-row">
                <dt class="col-sm-5">
                  <label class="vl-label" for="entry_job">どこでスタンプラリーを知りましたか？</label>
                </dt>
                <dd class="form-group form-row col-sm-4">
                  <div class="vl-select">
                    <%= f.select :question1, {'ネット': 'ネット', 'ラジオ': 'ネット'},{include_blank: true}, {class: "form-control"} %>
                  </div>
                </dd>
              </dl>

              <dl class="form-group form-row">
                <dt class="col-sm-12">
                  <label class="vl-label" for="entry_user_name">石見の良かったところやスタンプラリーについてのご意見など</label>
                </dt>
                <dd class="form-group form-row col-sm-12">
                    <%= f.text_field :question2, class: "form-control ",style:"width:100%; height: 200px;" %>
                </dd>
              </dl>

<!------------------------------------------------------------------------------------------------------------------------->
              <div class="vl-registerRole-actions">
                <div class="form-group">
                  <%= f.submit '送信', class: 'btn btn-main-color btn-lg btn-block' %>
                </div>
              </div>
            </div><!-- / .vr-formWrap -->
          <% end %>
  <%= render('shared/menu') %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
</body>
  <%= javascript_pack_tag 'user' %> 