<body class="entry vl-bodyBg">
  <header class="vl-appTop-header py-3">
    <div class="vl-appTitle d-flex justify-content-center container">
      <p><%= image_tag "image_stamps/App_titlelogo_color.png",{ alt:"石見周遊スタンプラリー いわみくるり",width:"300", height:"100"} %></p>
    </div>
  </header>
  <div class="container">
    <div class="vl-contentsWrap">
      <div class="vl-contentBlock rounded m-auto bg-white card">
        <div class="card-header">
          <h1 class="text-main-color">応募フォーム</h1>
        </div>
        <div class="vl-cardWrap">
          <p>おめでとうございます、景品を申し込むことができます。<br>景品の詳細は<a href="" target="_blank">こちら</a></p>
          <%= form_with url:stamps_servey_path  do |f| %>
          <%= f.hidden_field :bingo_cnt, :value => params["bigo_cnt"] %>
          <%= f.hidden_field :sp_cnt, :value => params["sp_cnt"] %>
            <div class="vr-formWrap">
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                 <%= f.label :email ,class: 'vl-label required' %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                     <%= f.email_field :email, autofocus: true, autocomplete: 'email',class:'form-control', required:"required", value:current_user.email %>
                  </div>
               </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <%= f.label '連絡先', class:"vl-label required" %><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-input mb-2">
                    <%= f.text_field :TEL_number, class: 'form-control', required:"required", placeholder:"090-1234-4321" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-row">
                <dt class="col-sm-3">
                  <label class="vl-label required col-form-label">お届け先</label><span class="vl-required">必須</span>
                </dt>
                <dd class="vl-address col-sm-9">
                  <div class="vl-zipInput form-row">
                    <div class="vl-zipWrap d-flex mb-2">
                      <span>〒</span>
　                    <input type="text" id="txtZipCode" name="zipcode" placeholder="例：6970041">
                    </div>
                    <div class="vl-zipInput col-sm-4 mb-3 mb-sm-0">
                      <a href="" target="_blank" onclick="return false;" id="get_address" ><span>郵便番号から住所を入力 <i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                  </div>
                  <div class="vl-input">
　                  <%= f.text_field :address, class:"form-control", required:"required", placeholder:"都道府県・市町村(例：島根県浜田市)", id:"address"%>
                  </div>
                </dd>
              </dl>

<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label col-form-label" for="entry_user_name">宛名</label><span class="vl-required">必須</span>
                </dt>
                <dd class="col-sm-9">
                  <div class="vl-halfInput">
                    <%= f.text_field :name, class: "form-control" , required:"required", placeholder:"石見　太郎" %>
                  </div>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <dl class="form-group form-row">
                <dt class="col-sm-3">
                  <label class="vl-label">応募商品</label><span class="vl-required">必須</span>
                </dt>
                <dd class="form-row col-sm-4">
                  <div class="vl-radio">
                    <div id="entry_sex">
                      <div class="vl-select">
                        <%= f.select :gift, {'景品１': '景品１', '景品２': '景品１'}, {include_blank: true}, {class: "form-control", required:"required"} %>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form-group form-row">
                <dt class="col-sm-5">
                  <label class="vl-label" for="entry_job">どこでスタンプラリーを知りましたか？</label>
                </dt>
                <dd class="form-group form-row col-sm-4">
                  <div class="vl-select">
                    <%= f.select :question1, {'ネット': 'ネット', 'ラジオ': 'ネット'},{include_blank: true}, {class: "form-control"} %>
                  </div>
                </dd>
              </dl>

              <dl class="form-group form-row">
                <dt class="col-sm-12">
                  <label class="vl-label" for="entry_user_name">石見の良かったところやスタンプラリーについてのご意見など</label>
                </dt>
                <dd class="form-group form-row col-sm-12">
                    <%= f.text_field :question2, class: "form-control ",style:"width:100%; height: 200px;" %>
                </dd>
              </dl>
<!------------------------------------------------------------------------------------------------------------------------->
              <div class="vl-registerRole-actions">
                <div class="form-group">
                  <%= f.submit '送信', class: 'btn btn-main-color btn-lg btn-block' %>
                </div>
              </div>
            </div><!-- / .vr-formWrap -->
          <% end %>
          <p style="text-align:center;">
            <input type="checkbox" id="check" name="個人情報の取り扱い" value="同意する" required="required">下記の個人情報の取り扱いに同意する
          </p>
          <h4  style="text-align:center;">個人情報の取り扱いについて</h4>
          <div class="mb-3" style="overflow:scroll; height:150px; overflow-x:hidden; " >
          <p>
            1. 事業者の氏名又は名称<br />
                  　　株式会社バイタルリード<br />
            2. 個人情報保護管理者（若しくはその代理人）の氏名又は職名、所属及び連絡先<br />
                  　管理者職名：秋国信臣<br />
                  　所属部署：総合計画部<br />
                  　連絡先：0853-22-9690<br />
            3. 個人情報の利用目的<br />
            　 ・サービスのお申し込み受付と、当該サービスの実施、運営（本人への連絡を含む）のため<br />
            　 ・本サービスに関連した、各種情報のご案内のため<br />
            4. 個人情報取扱いの委託<br />
            　当社は事業運営上、前項利用目的の範囲に限って個人情報を外部に委託することがあります。この場合、個人情報保護水準の高い委託先を選定し、個人　情報の適正管理・機密保持についての契約を交わし、適切な管理を実施させます。<br />
            5. 個人情報の開示等の請求<br />
                 ご本人様は、当社に対してご自身の個人情報の開示等（利用目的の通知、開示、内容の訂正・追加・削除、利用の停止または消去、第三者への提供の停止）に関して、下記の当社問合わせ窓口に申し出ることができます。その際、当社はお客様ご本人を確認させていただいたうえで、合理的な期間内に対応いたします。<br />
                 【お問合せ窓口】<br />
             島根県出雲市荻杼町274-2<br />
            メールアドレス：privacy@vitallead.co.jp　TEL：0853-22-9690<br />
             （受付時間　8：30～17：30※）<br />
            ※土日祝日、年末年始、夏季休暇期間は翌営業日以降の対応とさせていただきます。<br />
            6. 個人情報を提供されることの任意性について　<br />
            　   　ご本人様が当社に個人情報を提供されるかどうかは任意によるものです。 ただし、必要な項目をいただけない場合、適切な対応ができない場合があります。
            </p>
          </div>
        <%= render('shared/menu') %>
        </div><!-- / .vl-cardWrap -->
      </div><!-- / .vl-enterBlock -->
    </div><!-- / .vl-enterWrap -->
  </div><!-- / .container -->
</body>
  <%= javascript_pack_tag 'user' %> 