<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stamp.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @stamp.user_id %>
</p>

<p>
  <strong>Point:</strong>
  <%= @stamp.point_id %>
</p>

<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
<%= link_to 'Back', stamp_path %>
