  <div class="vl-modalBtn text-center rounded-circle text-white d-flex align-items-center flex-column justify-content-center">
    <i class="fas fa-bars"></i><span class="vl-modalBtnText">メニュー</span>
 </div>

  <div class="vl-modalBg"></div>
  <div class="vl-modalMain">
    <div class="vl-modalContents">
      <ul class="list-group">
        <li class="list-group-item">
           <%= link_to(stamps_new_path , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fas fa-qrcode"></i><span>QRコード</span>
           <% end %>
        </li>
        <li class="list-group-item">
           <%= link_to(stamps_path ,class:"stamp-list",:data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-stamp"></i><span>取得スタンプ一覧</span>
           <% end %>
        </li>
        <li class="list-group-item">
           <%= link_to(points_path ,class:"map-list", :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-map-marker-alt"></i><span>地点一覧</span>
           <% end %>
        </li>
        <li class="list-group-item">
           <%= link_to(home_policy_path ,class:"entry", :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-book-open"></i><span>利用規約</span>
           <% end %>
        </li>
        <li class="list-group-item">
           <%= link_to("https://www.all-iwami.com/contents/stamprally/" ,class:"home", :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-home"></i><span>いわみくるりホーム</span>
           <% end %>
        </li>
        <li class="list-group-item">
          <% if user_signed_in? %>
              <%= link_to edit_user_registration_path, :data =>{"role" => "button","turbolinks" => "false"} do %>
                <i class="fas fa-home"></i><span>プロフィール変更</span>
              <% end %>
        </li>
        <li class="list-group-item">
              <%= link_to( destroy_user_session_path, method: :delete , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
                <i class="fas fa-sign-out-alt"></i><span>ログアウト</span>
              <% end %>
          <% else %>
              <%= link_to(new_user_session_path , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
                <i class="fas fa-sign-in-alt"></i><span>ログイン</span>
              <% end %>
          <% end %> 
        </li>
      </ul>

      <div class="text-center">
        <p class="vl-modalBtnClose btn ">
         <span>閉じる</span> <i class="fas fa-times-circle"></i>
        </p>
      </div>
    </div>
  </div> <!-- / .vl-modalMain -->

  <footer class="vl-footer py-3 text-center">
    <small><a href="https://www.all-iwami.com/contents/stamprally/">©いわみくるり</a></small>
  </footer>
