<div class="vl-menu">
  <div class="vl-modalBtn text-center rounded-circle text-white d-flex align-items-center flex-column justify-content-center">
    <i class="fas fa-bars"></i><span class="vl-modalBtnText">メニュー</span>
 </div>

  <div class="vl-modalBg"></div>
  <div class="vl-modalMain">
    <div class="vl-modalContents">
      <ul class="vl-menuList d-flex">
        <li>
           <%= link_to(stamps_new_path , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fas fa-qrcode"></i></br><span>QRコードを</br>読み取る</span>
           <% end %>
        </li>
        <li>
           <%= link_to(stamps_path ,class:"stamp-list",:data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-stamp"></i></br><span>取得<br>スタンプ</span>
           <% end %>
        </li>
        <li>
           <%= link_to(points_path ,class:"map-list", :data =>{"role" => "button","turbolinks" => "false"}) do %> 
             <i class="fas fa-map-marker-alt"></i></br><span>施設一覧</span>
           <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
              <%= link_to( destroy_user_session_path, class:"logout", method: :delete , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
                <i class="fas fa-sign-out-alt"></i></br><span>ログアウト</span>
              <% end %>
          <% else %>
              <%= link_to(new_user_session_path , :data =>{"role" => "button","turbolinks" => "false"}) do %> 
                <i class="fas fa-sign-in-alt"></i></br><span>ログイン</span>
              <% end %>
          <% end %> 
        </li>
      </ul>

      <div class="text-center">
        <p class="vl-modalBtnClose btn ">
         <span>メニューを閉じる</span> <i class="fas fa-times-circle"></i>
        </p>
      </div>
    </div>
  </div> <!-- / .vl-modalMain -->
</div>
  <footer class="vl-footer py-3 text-center">
    <%# <small><a href="https://www.all-iwami.com/contents/stamprally/">©いわみくるり</a></small> %>
  </footer>
  <%= javascript_pack_tag 'menu', 'data-turbolinks-track': 'reload' %>

