<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<title>モバイルスタンプラリー｜維新の旅</title>
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="">
<meta name="description" content="">
<%= stylesheet_link_tag 'css/style', media: 'all', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/jquery.smoothscroll.js"></script>
<script type="text/javascript" src="/js/jquery.scrollshow.js"></script>
<script type="text/javascript" src="/js/jquery.rollover.js"></script>
<script type="text/javascript" src="/js/jquery.slideshow.js"></script>
<script>
$(function($){
	$('html').smoothscroll({easing : 'swing', speed : 1000, margintop : 10});
	$('.totop').scrollshow({position : 500});
	$('.slide').slideshow({
		touch         : true,
		touchDistance : '80',
		bgImage       : false,
		autoSlide     : true,
		effect        : 'slide',
		repeat        : true,
		easing        : 'swing',
		interval      : 3000,
		duration      : 1000,
		imgHoverStop  : true,
		navHoverStop  : true,
		navImg        : false,
		navImgCustom  : false,
		navImgSuffix  : ''
	});
	$('.slidePrev img').rollover();
	$('.slideNext img').rollover();
	});
</script>
<!--[if lt IE 9]>
   <script src="js/html5shiv.js"></script>
   <script src="js/css3-mediaqueries.js"></script>
<![endif]-->





<!-- おためし -->
<style type="text/css">

/*================================================
 *  ボディ定義
 ================================================*/
body {
	width:960px;
	margin:0 auto;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height:1.6;
}

/* タブレット・スマートフォン向け */
@media screen and (max-width:979px) {
	body {
		box-sizing: border-box;
		width:100%;
		padding:0 10px;
	}
}



/*================================================
 *  画像
 ================================================*/
.gazou img {
	display: block;
	margin:30px auto;
}
.gazou .pc {display: block !important;}
.gazou .sp {display: none !important;}

@media only screen and (max-width: 750px) {
	.gazou .pc {display: none !important;}
	.gazou .sp {display: block !important;}
}



/*================================================
 *  帯
 ================================================*/
.band {
	padding:10px 0px;
	margin:30px 0px 30px 0px;
	background:#BE993E;
	text-align:center;
	font-size:20px;
	color:#FFFFFF;
	font-weight:bold;
	overflow:hidden;
}
.band a {
	padding:0% 5%;
	text-decoration: none;
	color:#FFFFFF;
	text-decoration:underline;/*下線を引く*/
}



/*================================================
 *  ボタン
 ================================================*/
.btn {
	margin-bottom:30px;
}
.btn div {
	width:95%;
	border-radius:30px;
	box-shadow: 2px 2px 4px gray;
	display:block;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	padding:5px;
	margin:5px;
}
.btn a {
	text-decoration:none;
	color:#FFFFFF;
}



/*================================================
 *  ヘッダー定義
 ================================================*/
.headuser {
	background-color:#E89222;
}
.headlogin {
	background-color:#EFA340;
}
.headappli {
	background-color:#ECA74D;
}
.headstamp {
	background-color:#F8B55E;
}
.headprize {
	background-color:#FCC57E;
}



/*================================================
 *  コンテンツ
 ================================================*/
.contents {
	margin-bottom:100px;
}



/*================================================
 *  段落
 ================================================*/
.para {
	margin-top:10px;
	margin-bottom:10px;
}
.maru {
	height:50px;
	width:50px;
	border-radius:50%;
	line-height:50px;
	background-color:#E89222;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
	margin-right:10px;
	float:left;
}
.exnote {
	width:80%;
	font-weight:bold;
	float:left;
}



/*================================================
 *  その他
 ================================================*/
.cl {
	clear:both;
}
.empfont {
	font-weight:bold;
	font-size:24px;
}

</style>
</head>

<body>
<div class="slide">
	<ul class="slideInner">
		<li><a href="/"><%= image_tag "static/images/header_top.png" %></a></li>
	</ul>
	<div class="slidePrev"><%= image_tag "static/images/nav_prev.png", {alt:"前へ"} %></div>
	<div class="slideNext"><%= image_tag "static/images/nav_next.png", {alt:"次へ"} %></div>
	<div class="controlNav"></div>
</div>

<div class="band">
	<a href="/">ＨＯＭＥ</a>
	<a href="/users/sign_up">新規登録</a>
	<a href="/users/sign_in">ログイン</a>
	<a href="/home/show">使い方</a>
</div>

<div class="btn">
	<div class="headuser"><a href="#user">ユーザー登録</a></div>
	<div class="headlogin"><a href="#login">ログイン方法</a></div>
	<div class="headappli"><a href="#appuse">アプリ操作</a></div>
	<div class="headstamp"><a href="#stamp">スタンプの集め方</a></div>
	<div class="headprize"><a href="#keihin">賞品応募</a></div>
	<div class="headprize"><a href="#qa">Q&A</a></div>
</div>

<div class="main">
	<div class="band headuser" id="user">ユーザー登録</div>
	
	<div class="contents">
		<div class="para">
			<div class="maru">１</div>
			<div class="exnote">アプリトップ画面の「新規登録はこちら」からユーザー登録を行ってください。</div>
			<div class="cl"></div>
		</div><!-- para -->
		
		<div class="para">
			<div class="maru">２</div>
			<div class="exnote">各項目を入力し、登録するをクリックしてください。</div>
			<div class="cl"></div>
		</div><!-- para -->
		
		<div class="para">
			<div class="maru">３</div>
			<div class="exnote">入力されたメールアドレスへ、確認メールが送信されます。メール本文のＵＲＬをクリックして登録完了です。</div>
			<div class="cl"></div>
		</div><!-- para -->
		
		<div class="gazou">
			<%= image_tag "static/images/gazou/1_user_touroku/1_gazou.png", {alt:"パソコン用の画像",class:"sp" } %>
			<%= image_tag "static/images/gazou/1_user_touroku/1_gazou@2x.png", {alt:"スマートフォン用の画像",class:"pc" } %>
		</div><!-- gazou -->
	</div><!-- contents -->


	<div class="band headlogin" id="login">ログイン方法</div>
	<div class="contents">
		<div class="para">
			<div class="maru">１</div><!-- maru -->
			<div class="exnote">アプリトップ画面から、ＩＤ・パスワードを入力し、アプリをスタートしてください。</div>
			<div class="cl"></div>
		</div><!-- para -->

		<div class="gazou">
			<%= image_tag  "static/images/gazou/2_login/2_gazou.png" ,{alt:"パソコン用の画像",class:"sp" } %>
			<%= image_tag  "static/images/gazou/2_login/2_gazou@2x.png", {alt:"スマートフォン用の画像",class:"pc" } %>
		</div><!-- gazou -->
	</div><!-- contents -->

	<div class="band headappli" id="appuse">アプリ操作</div>

	<div class="contents">
	<div class="para">
		<div class="maru">１</div>
		<div class="exnote"><span class="empfont">移動する</span><br>ご自身が場所を移動すると、同時に自分のアイコンも移動します。</div>
		<div class="cl"></div>
	</div><!-- para -->
	
	<div class="gazou">
		<%= image_tag "static/images/gazou/3_app_sousa/3_1_gazou.png"   ,{alt:"パソコン用の画像",class:"sp"} %>
		<%= image_tag "static/images/gazou/3_app_sousa/3_1_gazou@2x.png",{ alt:"スマートフォン用の画像",class:"pc"} %>
	</div><!-- gazou -->
	
	<div class="para">
		<div class="maru">２</div>
		<div class="exnote"><span class="empfont">地図を拡大・縮小</span><br>左上の＋－をタップすると地図の拡大・縮小が可能です。ピンチイン・ピンチアウトでの操作も可能です。</div>
		<div class="cl"></div>
	</div><!-- para -->
	
	<div class="gazou">
		<%= image_tag "static/images/gazou/3_app_sousa/3_2_gazou.png"   ,{alt:"パソコン用の画像",class:"sp"} %>
		<%= image_tag "static/images/gazou/3_app_sousa/3_2_gazou@2x.png",{ alt:"スマートフォン用の画像",class:"pc"} %>
	</div><!-- gazou -->
	
	<div class="para">
		<div class="maru">３</div>
		<div class="exnote"><span class="empfont">探す</span><br>地図を指で動かすことで周辺のスポットを探すことが可能です。</div>
		<div class="cl"></div>
	</div><!-- para -->
	
	<div class="gazou">
		<%= image_tag "static/images/gazou/3_app_sousa/3_3_gazou.png" , {alt:"パソコン用の画像",class:"sp"} %>
		<%= image_tag "static/images/gazou/3_app_sousa/3_3_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
	</div><!-- gazou -->
	<div class="gazou">
		<%= image_tag "static/images/gazou/3_app_sousa/3_4_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
		<%= image_tag "static/images/gazou/3_app_sousa/3_4_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
	</div><!-- gazou -->

	<div class="para">
		<div class="maru">４</div>
		<div class="exnote"><span class="empfont">アイコンについて</span></div>
		<div class="cl"></div>
	</div><!-- para -->

	<div class="gazou">
		<%= image_tag "static/images/gazou/3_app_sousa/3_5_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
		<%= image_tag "static/images/gazou/3_app_sousa/3_5_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
	</div><!-- gazou -->



	<div class="band headstamp" id="stamp">スタンプの集め方</div>

	<div class="contents">
		<div class="para">
			<div class="maru">１</div>
			<div class="exnote"><span class="empfont">探す</span><br>現在位置を確認し、周辺にあるスポットを探してみましょう。</div>
			<div class="cl"></div>
		</div><!-- para -->

		<div class="gazou">
			<%= image_tag "static/images/gazou/4_stamp/4_1_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
			<%= image_tag "static/images/gazou/4_stamp/4_1_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
		</div><!-- gazou -->

		<div class="para">
			<div class="maru">２</div>
			<div class="exnote"><span class="empfont">イベント発生！</span><br>スポットに近づくと、スポットアイコンがイベントアイコンに変化します。迷わずクリック！
			<br><span style="font-size: 16px;">※スタンプラリーのスポット内であっても、電波状態が悪い時などは位置情報が取得できない場合があります。</span></div>
		</div><!-- para -->

		<div class="gazou">
			<%= image_tag "static/images/gazou/4_stamp/4_2_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
			<%= image_tag "static/images/gazou/4_stamp/4_2_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
		</div><!-- gazou -->

		<div class="para">
			<div class="maru">３</div>
			<div class="exnote"><span class="empfont">スタンプゲット</span><br>スタンプをゲットすると、イベントアイコンがコレスタアイコンに変化し、スタンプ取得完了となります。<br>一度スタンプをゲットしたスポットは、再度取得することはできません。</div>
			<div class="cl"></div>
		</div><!-- para -->

		<div class="gazou">
			<%= image_tag "static/images/gazou/4_stamp/4_3_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
			<%= image_tag "static/images/gazou/4_stamp/4_3_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
		</div><!-- gazou -->

		<div class="para">
			<div class="maru">４</div>
			<div class="exnote"><span class="empfont">履歴を見る</span><br>画面右上のメニューバーより、マイページを選択すると、スタンプラリーの履歴を確認することが可能です。<br>異なる３つの市町村でスタンプをゲットすると、キャンペーン応募サイトへのリンクが出現！！</div>
			<div class="cl"></div>
		</div><!-- para -->

		<div class="gazou">
			<%= image_tag "static/images/gazou/4_stamp/4_4_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
			<%= image_tag "static/images/gazou/4_stamp/4_4_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
		</div><!-- gazou -->
	</div><!-- contents -->



	<div class="band headprize" id="keihin">賞品応募</div>
		<div class="contents">
			<div class="para">
				<div class="maru">１</div>
				<div class="exnote"><span class="empfont">スタンプが溜まったら</span><br>履歴上部の「キャンペーンへ応募する」をクリックし、リンク先のアンケートにご回答いただくと、抽選で豪華な賞品をプレゼントいたします。</div>
				<div class="cl"></div>
			</div><!-- para -->
		<div class="gazou">
			<%= image_tag "static/images/gazou/5_present/5_gazou.png"    ,{alt:"パソコン用の画像",class:"sp"} %>
			<%= image_tag "static/images/gazou/5_present/5_gazou@2x.png" ,{ alt:"スマートフォン用の画像",class:"pc"} %>
		</div><!-- gazou -->
	</div><!-- contents -->

	
	<div class="band headprize" id="qa">Q&A</div>
	<div class="contents">
		<div class="para">
			<div class="maru">１</div>
			<div class="exnote"><span class="empfont">認証用メールが届かない方</span><br>
				10分以上経過しても登録確認のメールが届かない場合は、次の事項を記載したメールを、次のアドレスまでお送りください。
				<ul>
					<li>登録時のメールアドレス</li>
					<li>登録時のニックネーム</li>
				</ul>
				送信先：highway@pref.shimane.lg.jp</div>
			<div class="cl"></div>
		</div><!-- para -->
	</div><!-- contents -->

</div><!-- /#contents -->
<footer>
	<div class="footmenu">
		<div class="band">
			<a href="/">ＨＯＭＥ</a>
			<a href="/users/sign_up">新規登録</a>
			<a href="/users/sign_in">ログイン</a>
			<a href="/home/show">使い方</a>
		</div>
	</div><!-- /.footmenu -->
	<div class="copyright">Copyright &#169;; 2019 山陰道整備促進キャンペーン 維新の旅 モバイルスタンプラリー All Rights Reserved.</div><!-- /.copyright -->
</footer>
<div class="totop"><a href="#"><%= image_tag "static/images/totop.png",{alt:"ページのトップへ戻る"} %></a></div><!-- /.totop -->
</body>
</html>