<%#
# Application Layout
This view template is used as the layout
for every page that Administrate generates.
By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html class="no-js"  lang="<%= I18n.locale %>">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/website#">
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>キャンペーン概要｜いわみくるり～石見周遊スタンプラリー～</title>
 <meta name="description" content="いわみくるり～石見周遊スタンプラリー～のキャンペーン概要ページです。">
 <meta property="og:type" content="website" />
 <meta property="og:title" content="キャンペーン概要｜いわみくるり～石見周遊スタンプラリー～" />
 <meta property="og:image" content="" />
 <meta property="og:url" content="" />
 <meta property="og:site_name" content="キャンペーン概要｜いわみくるり～石見周遊スタンプラリー～" />
 <meta property="og:description" content="" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="robots" content="noodp, noydir, index, follow">

 <link rel="shortcut icon" href="https://www.all-iwami.com/favicon.ico">
 <%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css"> %>
 <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" /> %>
 <link href="https://fonts.googleapis.com/css2?family=Kosugi&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'css_stamp/drawer.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'css_stamp/bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_link_tag 'css_stamp/custom.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'css_stamp/custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= include_gon %>
  
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="/js/common.js"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
